<%- include('partials/header', { title: 'Books List' }) %>




<div class="container my-5">
  <h1 class="mb-4 text-primary">Books List</h1>
  <a href="/insert" class="btn btn-success mb-4">Add New Book</a>


  <!--loop through the books database and find the cover_id-->
  <% books.forEach(book => { %>
    

    <div class="row mb-5 p-3 bg-dark text-light rounded shadow-sm">
      <div class="col-md-3 text-center mb-3 mb-md-0">
        <% if (book.cover_id) { %>
          <img src="https://covers.openlibrary.org/b/id/<%= book.cover_id %>-M.jpg" alt="Book Cover" class="img-fluid rounded" />
        <% } else { %>
          <p>No cover available</p>
        <% } %>
      </div>
      
      <!--book details-->
      <div class="col-md-9">
        <h3 class="text-info"><%= book.title %> by <%= book.author %></small></h3>
      
      <!--delete form-->
      <form action="/delete"  method="POST">
        <input type="hidden" name="deleteItemId" value="<%=book.id%>">
        <button type="submit" class="btn btn-danger btn-sm">delete</button>



      </form>
      
      
      
      
      
        <!--filter the review-->
        <% const matchingUserBooks=userBooks.filter(userBook=> Number(userBook.book_id)===Number(book.id)) %>
       


        <% if (matchingUserBooks.length > 0) { %>
          <% matchingUserBooks.forEach(userbook => { %>
             <!--display the date read and reccomendation-->
           <small class="recommendation">DATE READ: <%= new Date(userbook.date_read).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %> 
            HOW STRONGLY I RECOMMEND IT:- <%= userbook.rating %>/10</small>

            <% if (userbook.review) { %>
              <p><%= userbook.review %></p>
            <% } else { %>
              <p>No reviews available.</p>
            <% } %>
          <% }) %>
        <% } else { %>
          <p>No reviews available.</p>
        <% } %>

      </div>
    </div>
  <% }) %>
</div>

<%- include('partials/footer') %>
